[submodule "Labyrinth/dependencies/spdlog"]
	path = Labyrinth/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Labyrinth/dependencies/rapidxml"]
	path = Labyrinth/dependencies/rapidxml
	url = https://github.com/discord/rapidxml
[submodule "Labyrinth/dependencies/imgui"]
	path = Labyrinth/dependencies/imgui
	url = https://github.com/amayesingnathan/imgui
[submodule "Labyrinth/dependencies/glm"]
	path = Labyrinth/dependencies/glm
	url = https://github.com/g-truc/glm
