#Binaries
bin/
obj/
!dependencies/premake/bin/
dependencies/premake/bin/premake5

#Branch Test Spaces
Chess/
NetTest/

#VS files
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#Makefiles
Makefile
Makefile.in

#Log files
*.log

#Profiling files
**.json

#Python cache files
__pycache__/