#Binaries
bin/
obj/
!dependencies/premake/bin/
Binaries
Intermediates
**/Labyrinth-ScriptCore.dll
**/Labyrinth-ScriptCore.pdb

#Branch Test Spaces
Chess/
NetTest/

#VS files
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user

#Makefiles
Makefile
Makefile.in

#Log files
*.log

#Profiling files
**.json

#Assets
assets/
!Enigma/SandboxProject/assets/

# Directories
Labyrinth/dependencies/VulkanSDK
*/resources/cache

#Python cache files
__pycache__/
