#Binaries
**/bin/
!dependencies/premake/bin/

#VS temp files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#Log files
*.log

#Profiling files
**.json

#Labyrinth scene files
**.labr

#Python cache files
__pycache__/